* {

    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 3px;
}

body {
    background-image: url(./images/white-background.png);
    background-repeat: repeat-x; 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: darkgrey;
    text-align: center;
}