body {
  text-align: center;
}
form {
  display: inline-block;
  color: white;
  width: 500px;
  text-align: left;
}


#title {

  display: inline-block;
  margin-bottom: 20px;
  color: white;

}

hr {
width: 300px;
display: inline-block;
height: 5px;
margin-top: -10px;
background-color:rgb(255, 255, 255);
}

@media only screen and (max-width: 550px) {
  form {
    width: 400px;
  }
}

@media only screen and (max-width: 375px) {
  form {
    width: 300px;
  }
}
  