 #port-title {

    text-align: left;
    margin: 20px 10px 10px 37px;
    color: white;
  
}

hr {
  width: 300px;
  float: left;
  margin: 0px 10px 10px 37px;
  height: 5px;
  background-color:rgb(255, 255, 255);
}

  #content {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
  .content-boxes {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    color: #ffffff;
}

img {
    max-height: 200px;
}

.content-boxes h2 {
    margin-bottom: 20px;
    font-size: 36px;
} 

.float-left {
    float: left;
    margin-right: 25px;
}

#float-right {
    float: right;
    margin-left: 25px;
}


      @media only screen and (max-width: 710px) {
          .content-boxes {
            margin-bottom: 50px;
          }
        }

 @media only screen and (max-width: 628px) {
    .content-boxes {
      margin-bottom: 150px;
    }
    #float-right{
      float: left;
   margin-left: 0px;
   margin-right: 25px;
    }

  }

 /* @media only screen and (max-width: 519px) {
    .content-boxes {
      margin-bottom: 100px;
    }
    #float-right{
      float: left;
      margin-right: 25px;
      margin-left: 0px;
    }
    
  } */
    